## import the libraries to use

In [4]:
# This is for webscrapping
from bs4 import BeautifulSoup
import csv
import io

# Pandas
import pandas as pd

# REGEX
import re

# For get the date and time

from datetime import date
from datetime import datetime

# For create the engine and works with db's
import requests
from sqlalchemy.types import Integer, Text, String, DateTime
from sqlalchemy_utils import create_database, database_exists, drop_database
from sqlalchemy import create_engine
import psycopg2
import sqlite3

## functions

In [5]:
#date.today()

In [6]:
# With this function I make the webscrapping I need to extract the data from the tarifaluzahora website
def scrapping (tarifa, day = str(date.today())):
    
    # Web to scrap
    url = 'https://tarifaluzhora.es/?tarifa=' + tarifa
    #url = 'https://tarifaluzhora.es/?tarifa=' + tarifa + '&fecha=' + day
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")
    
    # Web scraping to price & description
    price_ = soup.findAll("span", {"itemprop": "price"})
    hours_ = soup.findAll("span", {"itemprop": "description"})
    
    # Get the values of price & hours with a for loop
    price_hour_ = [price.get_text() for price in price_]
    schedule_ = [time.get_text() for time in hours_]
    
    # I've created a dataframe, its name is DF and it has two columns at the moment
    df = pd.DataFrame.from_dict({'precio':price_hour_,'horario':schedule_})
    
    # I have created two more columns, Time contains the 2nd digit of the time column, 
    # to be able to operate with the hours if necessary.
    # ‘Fare' contains the chosen fare
    df['hora'] = [int(x[:2]) for x in df['horario']]
    df['tarifa'] = tarifa
    df['minimo'] = df['precio'].min()
    
    df['precio'] =  [re.sub(r'\€\/[k][W][h]','', str(x)) for x in df['precio']]
    df['horario'] =  [re.sub(r'[:]','', str(x)) for x in df['horario']]
    df['minimo'] =  [re.sub(r'\€\/[k][W][h]','', str(x)) for x in df['minimo']]
    
    return df

## extract fares from scrapping function

In [7]:
df = scrapping('coche_electrico')
#df1 = scrapping('normal')
#df2 = scrapping('discriminacion')

In [10]:
#frames = [df, df1, df2]
#df = pd.concat(frames)
#df.reset_index(inplace = True)

In [11]:
df = df.filter(items = ['tarifa', 'precio','hora'])
df

             tarifa    precio  hora
0   coche_electrico  0.04037      0
1   coche_electrico  0.03388      1
2   coche_electrico   0.0345      2
3   coche_electrico  0.03551      3
4   coche_electrico  0.03545      4
5   coche_electrico  0.03667      5
6   coche_electrico  0.04033      6
7   coche_electrico  0.04644      7
8   coche_electrico  0.04488      8
9   coche_electrico  0.04145      9
10  coche_electrico  0.04192     10
11  coche_electrico  0.04267     11
12  coche_electrico  0.04214     12
13  coche_electrico  0.10484     13
14  coche_electrico   0.1044     14
15  coche_electrico  0.10476     15
16  coche_electrico  0.10292     16
17  coche_electrico  0.10351     17
18  coche_electrico  0.10428     18
19  coche_electrico  0.10642     19
20  coche_electrico  0.10654     20
21  coche_electrico  0.10763     21
22  coche_electrico  0.10685     22
23  coche_electrico  0.04317     23

In [13]:
# I convert the df to json
df3 = df.to_json(orient = 'index')

## engine to postgreSQL

In [ ]:
#engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')
#df.to_sql('coche_electrico', engine, if_exists = 'replace', index = False)
#df1.to_sql('normal', engine, if_exists = 'replace', index = False)
#df1.to_sql('discriminacion', engine, if_exists = 'replace', index = False)