## import the libraries to use

In [15]:
# This is for webscrapping
from bs4 import BeautifulSoup
import csv
import io

# Pandas
import pandas as pd

# REGEX
import re

# For get the date and time
from datetime import date
from datetime import datetime

# For create the engine and works with db's
import requests
from sqlalchemy.types import Integer, Text, String, DateTime
from sqlalchemy_utils import create_database, database_exists, drop_database
from sqlalchemy import create_engine
import psycopg2
import sqlite3

## functions

In [16]:
# With this function I make the webscrapping I need to extract the data from the tarifaluzahora website
def scrapping (tarifa, day = str(date.today())):
    
    # Web to scrap
    url = 'https://tarifaluzhora.es/?tarifa=' + tarifa + '&fecha=' + day
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")
    
    # Web scraping to price & description
    price_ = soup.findAll("span", {"itemprop": "price"})
    hours_ = soup.findAll("span", {"itemprop": "description"})
    
    # Get the values of price & hours with a for loop
    price_hour_ = [price.get_text() for price in price_]
    schedule_ = [time.get_text() for time in hours_]
    
    # I've created a dataframe, its name is DF and it has two columns at the moment
    df = pd.DataFrame.from_dict({'kw_h':price_hour_,'horario':schedule_})
    
    # I have created two more columns, Time contains the 2nd digit of the time column, 
    # to be able to operate with the hours if necessary.
    # ‘Fare' contains the chosen fare
    df['hora'] = [int(x[:2]) for x in df['horario']]
    df['tarifa'] = tarifa
    
    df['kw_h'] =  [re.sub(r'\€\/[k][W][h]','', str(x)) for x in df['kw_h']]
    df['horario'] =  [re.sub(r'[:]','', str(x)) for x in df['horario']]
    
    return df

In [21]:
scrapping('normal','2019-03-20')

      kw_h    horario  hora  tarifa
0   0.109   00h - 01h     0  normal
1   0.107   01h - 02h     1  normal
2   0.104   02h - 03h     2  normal
3   0.105   03h - 04h     3  normal
4   0.105   04h - 05h     4  normal
5   0.106   05h - 06h     5  normal
6   0.113   06h - 07h     6  normal
7   0.116   07h - 08h     7  normal
8   0.115   08h - 09h     8  normal
9   0.114   09h - 10h     9  normal
10  0.111   10h - 11h    10  normal
11   0.11   11h - 12h    11  normal
12  0.112   12h - 13h    12  normal
13  0.113   13h - 14h    13  normal
14  0.113   14h - 15h    14  normal
15  0.112   15h - 16h    15  normal
16  0.112   16h - 17h    16  normal
17  0.112   17h - 18h    17  normal
18  0.113   18h - 19h    18  normal
19  0.119   19h - 20h    19  normal
20  0.118   20h - 21h    20  normal
21  0.118   21h - 22h    21  normal
22  0.115   22h - 23h    22  normal
23  0.112   23h - 24h    23  normal

## extract fares from scrapping function

In [17]:
df = scrapping('coche_electrico')
df1 = scrapping('normal')
df2 = scrapping('discriminacion')

In [18]:
#frames = [df, df1]
#df = pd.concat(frames)

## engine to postgreSQL

In [14]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')
df.to_sql('coche_electrico', engine, if_exists = 'replace', index = False)
df1.to_sql('normal', engine, if_exists = 'replace', index = False)
df1.to_sql('discriminacion', engine, if_exists = 'replace', index = False)